<!-- BEGIN: main -->
<style>
    .table-responsive>.table>tbody>tr>td {
        vertical-align: middle;
    }

    .table-responsive>.table>tbody>tr>th {
        vertical-align: middle;
    }
</style>
<script src="https://cdn.ckeditor.com/4.20.0/standard/ckeditor.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"
    integrity="sha512-9UR1ynHntZdqHnwXKTaOm1s6V9fExqejKvg5XMawEMToW4sSw+3jtLrYfZPijvnwnnE8Uol1O9BcAskoxgec+g=="
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<div class="container-fuild">
    <div class="row">
        <div class="col-md-24">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Danh sach du an
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="table" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center text-nowrap">STT</th>
                                    <th class="text-center text-nowrap">Tên dự án</th>
                                    <th class="text-center text-nowrap">Số tiền</th>
                                    <th class="text-center text-nowrap">Mô tả ngắn</th>
                                    <th class="text-center text-nowrap">Mô tả chi tiết</th>
                                    <th class="text-center text-nowrap">Hình ảnh</th>
                                    <th class="text-center text-nowrap">Thời hạn</th>
                                    <th class="text-center text-nowrap">Người tạo</th>
                                    <th class="text-center text-nowrap">Trạng thái</th>
                                    <th class="text-center text-nowrap">Duyệt dự án</th>
                                    <th class="text-center text-nowrap">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- BEGIN: loop -->
                                <tr>
                                    <th class="text-center">{KEY}</th>
                                    <td class="text-center">{VALUE.ten_du_an}</td>
                                    <td class="text-center">{VALUE.so_tien}</td>
                                    <td class="text-center">
                                        <button class="motangan btn btn-primary" data-id="{VALUE.id}"
                                            data-toggle="modal" data-target="#motangan">
                                            <em class="fa fa-sharp fa-solid fa-info"></em>
                                        </button>
                                    </td>
                                    <td class="text-center">
                                        <button class="motachitiet btn btn-primary" data-id="{VALUE.id}"
                                            data-toggle="modal" data-target="#motachitiet">
                                            <em class="fa fa-sharp fa-solid fa-info"></em>
                                        </button>
                                    </td>
                                    <td class="text-center">
                                        <img src="{HINH_ANH}" style="width: 150px;">
                                    </td>
                                    <td class="text-nowrap text-center">{VALUE.thoi_han}</td>
                                    <td class="text-nowrap text-center">{NGUOI_TAO}</td>
                                    <td class="text-center">
                                        {IS_OPEN}
                                    </td>
                                    <td class="text-center text-nowrap">
                                        {IS_DUYET}
                                    </td>
                                    <td class="text-center text-nowrap">
                                        <button class="update btn btn-primary" data-id="{VALUE.id}" data-toggle="modal"
                                            data-target="#updateModal">Cập nhật</button>
                                        <button class="del btn btn-danger" data-id="{VALUE.id}">Xoa</button>
                                        <button class="history btn btn-info" data-ma_du_an="{VALUE.ma_du_an}" data-tong_tien_can="{VALUE.so_tien}"
                                            data-toggle="modal" data-target="#lichsu">Lich su quyen gop</button>
                                    </td>
                                </tr>
                                <!-- END: loop -->
                            </tbody>
                        </table>
                    </div>
                    <div id="lichsu" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Modal Header</h4>
                                </div>
                                <div class="modal-body">
                                    <table id="lichsu" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Họ và tên</th>
                                                <th>Gmail quyen gop</th>
                                                <th>So tien</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="motachitiet" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Mô tả chi tiết</h4>
                                </div>
                                <div class="modal-body text-center">
                                    <p id="mo_ta_chi_tiet"></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="motangan" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Mô tả ngắn</h4>
                                </div>
                                <div class="modal-body text-center">
                                    <p id="mo_ta_ngan"></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <input type="text" hidden id="id" class="form-control">
                                        <div class="form-group">
                                            <label>Mã dự án</label>
                                            <input type="text" disabled class="form-control" id="ma_du_an_edit">
                                        </div>
                                        <div class="form-group">
                                            <label>Tên dự án</label>
                                            <input type="text" class="form-control" id="ten_du_an">
                                        </div>
                                        <div class="form-group">
                                            <label>Mô tả ngắn</label>
                                            <textarea name="mo_ta_ngan_edit"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Mô tả chi tiết</label>
                                            <textarea name="mo_ta_chi_tiet_edit"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Tiền quyên góp</label>
                                            <input type="number" class="form-control" id="so_tien">
                                        </div>
                                        <div class="form-group">
                                            <label>Hình ảnh</label>
                                            <input type="file" class="form-control" id="image" multiple>
                                            <input type="text" class="form-control" id="image_link">
                                        </div>
                                        <div class="form-group">
                                            <label>Thời hạn</label>
                                            <input type="date" class="form-control" id="thoi_han">
                                        </div>
                                        <div class="form-group">
                                            <label>Trạng thái</label>
                                            <select id="is_open" class="form-control">
                                                <option value="1">Hiển thị</option>
                                                <option value="2">Tạm tắt</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="acceptUpdate">Cập nhật</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="duyetDuan" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Duyệt dự án</h4>
                                </div>
                                <div class="modal-body">
                                    <input hidden type="text" id="id_duyet">
                                    <p>Nhập vào mã dự án quyên góp paypal</p>
                                    <input id="ma_du_an" type="text" class="form-control">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" id="acceptDuyet">Duyệt</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    CKEDITOR.replace('mo_ta_chi_tiet_edit');
    CKEDITOR.replace('mo_ta_ngan_edit');
</script>
<script>
    $(document).ready(function () {

        $('body').on('click', '.change', function () {
            var id_change = $(this).data('id');
            var payload = new FormData();
            payload.append('id_change', id_change);

            $.ajax({
                url: script_name + '?' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsach&change=1',
                type: 'post',
                data: payload,
                dataType: 'json',
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    if (res.status) {
                        toastr.success('Đã thay đổi trạng thái thành công!!');
                        setTimeout(() => {
                            location.reload();
                        }, 500);
                    } else {
                        toastr.error('Đã có lỗi hệ thống');
                    }
                },

            });
        });

        $('body').on('click', '.del', function () {
            var id_del = $(this).data('id');
            var payload = new FormData();
            payload.append('id_del', id_del);

            $.ajax({
                url: script_name + '?' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsach&delete=1',
                type: 'post',
                data: payload,
                dataType: 'json',
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    console.log(res);
                    if (res.status) {
                        toastr.success('Đã xóa thành công');
                        setTimeout(() => {
                            location.reload();
                        }, 500);
                    } else {
                        toastr.error('Đã có lỗi hệ thống!!');
                    }
                }
            });
        });

        $('body').on('click', '.duyet', function () {
            var id_duyet = $(this).data('id');
            $("#id_duyet").val(id_duyet);
        });

        $('body').on('click', '.unduyet', function () {
            var id_unduyet = $(this).data('id');
            var payload = new FormData();
            payload.append('id_unduyet', id_unduyet);
            $.ajax({
                url: script_name + '?' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsach&unduyet=1',
                type: 'post',
                data: payload,
                dataType: 'json',
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    if (res.status) {
                        toastr.success('Hủy duyệt dự án thành công');
                        setTimeout(() => {
                            location.reload();
                        }, 500);
                    } else {
                        toastr.error('Khong the xoa da co loi');
                    }
                }
            });
        });

        $("#acceptDuyet").click(function () {
            var payload = new FormData();
            payload.append('ma_du_an', $('#ma_du_an').val());
            payload.append('id_duyet', $('#id_duyet').val());
            $.ajax({
                url: script_name + '?' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsach&duyet=1',
                type: 'post',
                data: payload,
                dataType: 'text',
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    if (res == 'success') {
                        toastr.success('Duyệt dự án thành công');
                        setTimeout(() => {
                            location.reload();
                        }, 500);
                    } else {
                        toastr.error(res);
                    }
                }
            });
        });

        $('body').on('click', '.khongduyet', function () {
            var id_khongduyet = $(this).data('id');
            var payload = new FormData();
            payload.append('id_khongduyet', id_khongduyet);

            $.ajax({
                url: script_name + '?' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsach&khongduyet=1',
                type: 'post',
                data: payload,
                dataType: 'text',
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    if (res == 'success') {
                        toastr.success('Không duyệt dự án thành công');
                        setTimeout(() => {
                            location.reload();
                        }, 500);
                    } else {
                        toastr.error('Khong the xoa da co loi');
                    }
                }
            });
        });

        $('body').on('click', '.history', function () {
            var ma_du_an      = $(this).data('ma_du_an');
            var tong_tien_can = $(this).data('tong_tien_can');
            var payload = new FormData();
            payload.append('ma_du_an', ma_du_an);
            $.ajax({
                url: script_name + '?' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsach&history=1',
                type: 'post',
                data: payload,
                dataType: 'json',
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    var data = res.list;
                    if (data.length == 0) {
                        var content = '';
                        content += '<tr>';
                        content += '<th>1</th>';
                        content += '<td>Chưa có </td>';
                        content += '<td>Chưa có</td>';
                        content += '<td>Chưa có</td>';
                        content += '</tr>';
                        $('#lichsu tbody').html(content);
                    } else {
                        var content = '';
                        var tong_tien_da_quyen_gop = 0;
                        $.each(data, function (k, v) {
                            content += '<tr>';
                            content += '<th>' + (k + 1) + '</th>';
                            content += '<td>' + v.full_name + '</td>';
                            content += '<td>' + v.email_quyen_gop + '</td>';
                            content += '<td>' + (v.tong_tien.toFixed(2) * 23000).toLocaleString() + '</td>';
                            content += '</tr>';
                            tong_tien_da_quyen_gop = tong_tien_da_quyen_gop + v.tong_tien;
                        });
                        content += '<tr>';
                        content += '<th colspan="3"><b>Số Tiền Cần Quyên Góp</b></th>';
                        content += '<td>' + tong_tien_can + '</td>';
                        content += '</tr>';
                        content += '<tr>';
                        content += '<th colspan="3"><b>Số Đã Nhận</b></th>';
                        content += '<td>' + tong_tien_da_quyen_gop + '</td>';
                        content += '</tr>';
                        $('#lichsu tbody').html(content);
                    }
                }
            });
        });

        $('body').on('click', '.motachitiet', function () {
            var id = $(this).data('id');
            var payload = new FormData();
            payload.append('id', id);
            $.ajax({
                url: script_name + '?' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsach&motachitiet=1',
                type: 'post',
                data: payload,
                dataType: 'text',
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    var data = JSON.parse(res);
                    console.log(data);
                    $("#mo_ta_chi_tiet").html(data.mo_ta_chi_tiet);
                }
            });

        });

        function formatMoney(n) {
            return n.toLocaleString();
        }   

        $('body').on('click', '.motangan', function () {
            var id = $(this).data('id');
            var payload = new FormData();
            payload.append('id', id);
            $.ajax({
                url: script_name + '?' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsach&motangan=1',
                type: 'post',
                data: payload,
                dataType: 'text',
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    var data = JSON.parse(res);
                    console.log(data);
                    $("#mo_ta_ngan").html(data.mo_ta_ngan);
                }
            });

        });

        $('body').on('click', '.update', function () {
            var id = $(this).data('id');
            var payload = new FormData();
            payload.append('id', id);
            $.ajax({
                url: script_name + '?' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsach&update=1',
                type: 'post',
                data: payload,
                dataType: 'text',
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    var data = JSON.parse(res);
                    console.log(data);
                    $('#id').val(data.id);
                    $('#ten_du_an').val(data.ten_du_an);
                    $('#ma_du_an_edit').val(data.ma_du_an);
                    $('#is_open').val(data.is_open);
                    $('#so_tien').val(data.so_tien);
                    $('#image_link').val(data.hinh_anh);
                    $('#thoi_han').val(data.thoi_han);
                    $('#tags_input').tagsinput('add', data.id_tag);
                    CKEDITOR.instances.mo_ta_chi_tiet_edit.setData(data.mo_ta_chi_tiet);
                    CKEDITOR.instances.mo_ta_ngan_edit.setData(data.mo_ta_ngan);
                }
            });
        });

        $("#acceptUpdate").click(function () {
            var anh = image.files;
            var mo_ta_chi_tiet = CKEDITOR.instances.mo_ta_chi_tiet_edit.getData();
            var mo_ta_ngan = CKEDITOR.instances.mo_ta_ngan_edit.getData();
            var payload = new FormData();
            payload.append('id', $('#id').val());
            payload.append('ten_du_an', $('#ten_du_an').val());
            payload.append('so_tien', $('#so_tien').val());
            for (var i = 0; i < anh.length; i++) {
                payload.append('anh_' + i, anh[i]);
            }
            payload.append('image_link', $('#image_link').val());
            payload.append('is_open', $('#is_open').val());
            payload.append('ma_du_an', $('#ma_du_an_edit').val());
            payload.append('thoi_han', $('#thoi_han').val());
            payload.append('mo_ta_chi_tiet', mo_ta_chi_tiet);
            payload.append('mo_ta_ngan', mo_ta_ngan);
            payload.append('so_luong_anh', anh.length);

            $.ajax({
                url: script_name + '?' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsach&acceptUpdate=1',
                type: 'post',
                data: payload,
                dataType: 'json',
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    if(res.status) {
                        toastr.success('Cap nhat thanh cong');
                        setTimeout(() => {
                            location.reload();
                        }, 500);
                    }else {
                        var err = res.split('!');
                        $.each(err, function (k, v) {
                            if (k < err.length - 1) {
                                toastr.error(v);
                            }
                        });
                    }
                }
            });
        });


    });
</script>
<!-- END: main -->